/* Regla 1: Se usa el selector universal para a침adir un tipo de letra a todo el html */
* {
    font-family: Arial, sans-serif;
}

/* Regla 2: Se utiliza margin y padding para controlar el espacio del contenido */
body {
    margin: 0;
    padding: 0 20%;
}

/* Regla 3: Utilizamos text-decoration para subrayar el texto, usamos color para cambiar el color de texto a DarkCyan y text-align para centrar el texto */
h1 {
    text-decoration: underline;
    color: darkcyan;
    text-align: center;
}

/* Regla 4: Utilizamos la clase .selector para cambiar el color del texto a lightcyan */
.selector {
    color: lightcyan;
}

/* Regla 5: Utilizamos la clase .selectors para a침adir padding, un borde s칩lido de color darkcyan y un borde redondeado de 5px */
.selectors {
    padding: 5%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}

/* Regla 6: Utilizamos el id #universal para cambiar el color del texto a lightgoldenrodyellow */
#universal {
    color: lightgoldenrodyellow;
}

/* Regla 7: Utilizamos los selectores combinados h2.selector y h2#universal para aplicar un fondo de color darkcyan, padding y bordes redondeados */
h2.selector, h2#universal {
    background-color: darkcyan;
    padding: 1%;
    border-radius: 5px;
}

/* Regla 8: Utilizamos el selector span para aplicar un peso de fuente de 900, un fondo negro y un color de texto blanco */
span {
    font-weight: 900;
    background-color: black;
    color: white;
}

/* Regla 9: Utilizamos el selector li > a (afectara a todos los hijos que sean directos de li) para eliminar el subrayado de los enlaces dentro de los elementos li */
li > a {
    text-decoration: none;
}

/* Regla 10: Utilizamos el selector h3 para aplicar un fondo con rgba, padding de 0.5px y bordes redondeados de 5px */
h3 {
    background-color: rgba(0, 139, 139, 0.529);
    padding: 0.5px;
    border-radius: 5px;
}

/* Regla 11: Utilizamos el selector #gallery div para establecer el ancho al 100% de los div dentro del elemento id gallery */
#gallery div {
    width: 100%;
}

/* Regla 12: Utilizamos el selector img para establecer el ancho al 100%, un borde s칩lido de color darkcyan y bordes redondeados */
img {
    width: 100%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}